<!DOCTYPE html>
<html>
  <head>
    <style>
      .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
      }

      span {
        margin: 10px 0;
        display: block;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <img src="https://i.imgur.com/oUAKMC5.png"/>
      <span>Hi, {{name}}</span>

      <br/>

      <span>You wanted to change your password.</span>
      <span>So, if you really wants to. Click on the below link
        <a href={{link}}>{{link}}</a>
      </span>

      <span>If you haven't asked for a password recovery, please ignore this email.</span>

      <strong>Thank you!</strong>

      <h3><strong>Rentx</strong></h3>
    </div> 
  </body>
</html>
